*


!dist/assets/*
!dist/assets/icons/*

!dist/assets/icons/countries/*

!dist/assets/icons/social/default/*
!dist/assets/icons/social/gray-default/*
!dist/assets/icons/social/gray-hover/*
!dist/assets/icons/social/white-default/*
!dist/assets/icons/social/white-hover/*

!dist/assets/icons/social/*
!dist/assets/icons/integration/*
!dist/assets/icons/payment_methods/*

!dist/esm/*
!dist/esm/components/*
!dist/esm/exceptions/*
!dist/esm/hooks/*
!dist/esm/stories/*
!dist/esm/types/*
!dist/esm/utils/*
!dist/esm/index.css
!dist/esm/index.css.map
!dist/index.d.ts


!dist/esm/index.js
!dist/esm/index.js.map

!dist/types.d.ts



!README.md
!LICENSE